{% extends "temps/index.html" %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<section>
	<div class="more">
	<div class="more-about" data-aos="fade-up" data-aos-delay="100"><br><br>
		<h2>More About Gresod</h2><br>
		<p>Since opening in 2000, we have become masters of our craft. Our commitment to quality products, exceptional services and incomparable customer care keep our community coming back again and again. We never stop improving, and are continuing to expand our offerings based on how we can best serve the San Francisco area.</p><br>
		<p>Since opening in 2000, we have become masters of our craft. Our commitment to quality products, exceptional services and incomparable customer care keep our community coming back again and again. We never stop improving, and are continuing to expand our offerings based on how we can best serve the San Francisco area.</p><br>	
		<p>Since opening in 2000, we have become masters of our craft. Our commitment to quality products, exceptional services and incomparable customer care keep our community coming back again and again. We never stop improving, and are continuing to expand our offerings based on how we can best serve the San Francisco area.</p><br>			
	</div>
</div>
</section>
<div class="faq-footer">
	<p>0708472693</p>
	<p><i class="fa fa-fw fa-facebook-official"></i>
	<i class="fa fa-fw fa-twitter"></i>
	<i class="fa fa-fw fa-instagram"></i>
	<i class="fa fa-fw fa-youtube"></i>
</p>
	<h4 class="text-gray">
		&copy; 2021 by GRESOD. All rights reserved created by Eric-Dev
	</h4>
</div>
{% endblock %}