{% extends "temps/index.html" %}

{% load static %}


{% block content %}
<section>
	<div class="contan">
		<div class="news" data-aos="fade-right" data-aos-delay="200">
			<h2>Get in Touch</h2>
			<h6>Nanyuki, Bemwaki Tower</h6>
			<h6>ericmuchiri764@gmail.com</h6>
			<h6>0708472693</h6>
		</div>
		<div class="comment" data-aos="fade-left" data-aos-delay="200">
			<div class="contact" id="contact">
				<div class="container">
					<div class="row">
						<form method="post" action="" role="" id="post-form-base">
							{% csrf_token %}
							<h2>Leave a Comment</h2>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="input-group input-group-lg wow fadeInUp" data-wow-delay='0.2s' style="">
									<input  type="text" name="fullname" id="fullname" class="form-control" aria-describedby="sizing-addon1" placeholder="Full Name">
								</div>
								<div class="input-group input-group-lg wow fadeInUp" data-wow-delay='0.6s' >
                                    <input  type="email" name="email" id="email" class="form-control" aria-describedby="sizing-addon1" placeholder="Email Address">
                                </div>
                                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay='0.8s' >
                                    <input type="text" name="phonenumber" id="phonenumber" class="form-control" aria-describedby="sizing-addon1" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            	<div class="input-group wow fadeInUp" data-wow-delay='0.9s'>
                            		<textarea class="form-control" id="info" name="body" cols="30" rows="2" placeholder="Write your message here....."></textarea>
                            	</div><br>
                            	<button style="margin-left: 70px;"  type="submit" class="btn btn-success  wow fadeInUp" data-wow-delay='2s'>Submit your message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>	
</section>	
<div class="faq-footer">
	<p>0708472693</p>
	<p><i class="fa fa-fw fa-facebook-official"></i>
	<i class="fa fa-fw fa-twitter"></i>
	<i class="fa fa-fw fa-instagram"></i>
	<i class="fa fa-fw fa-youtube"></i>
</p>
	<h4 class="text-gray">
		&copy; 2021 by GERSOD. All rights reserved created by Eric-Dev
	</h4>
</div>

{% endblock %}