{% extends "temps/index.html" %}

{% load static %}

{% block content%}
<section>
<div class="faq">
	<div class="try" data-aos="fade-up" data-aos-delay="100"><br><br><br>
	<h1>FAQ</h1>
    <h3>The Answers You Need</h3>

    <h2>What if I am not satisfied with Gresod?</h2><br>
    <p>This is your FAQ Answer. Make sure your writing is clear and concise. It’s a good idea to review what you’ve written and ask yourself the following - if this was my first time visiting the site, would I fully understand this answer? Then revise or expand as necessary. Consider adding a photo or video as a visual tool or for extra impact.</p><br>

    <h2>Are there any benefits for first-time customers?</h2><br>
    <p>This is your FAQ Answer. Make sure your writing is clear and concise. It’s a good idea to review what you’ve written and ask yourself the following - if this was my first time visiting the site, would I fully understand this answer? Then revise or expand as necessary. Consider adding a photo or video as a visual tool or for extra impact.</p><br>

    <h2>Do you have a customer referral program?</h2><br>
    <p>This is your FAQ Answer. Make sure your writing is clear and concise. It’s a good idea to review what you’ve written and ask yourself the following - if this was my first time visiting the site, would I fully understand this answer? Then revise or expand as necessary. Consider adding a photo or video as a visual tool or for extra impact.</p><br><br>
</div>
</div>
</section>
<div class="faq-footer">
	<p>0708472693</p>
	<p><i class="fa fa-fw fa-facebook-official"></i>
	<i class="fa fa-fw fa-twitter"></i>
	<i class="fa fa-fw fa-instagram"></i>
	<i class="fa fa-fw fa-youtube"></i>
</p>
	<h4 class="text-gray">
		&copy; 2021 by GRESOD. All rights reserved created by Eric-Dev
	</h4>
</div>

{% endblock%}